<%- # TODO: add datepicker to select any day %>

<div role="group">
  <%= link_to "yesterday", days_path(date: Date.yesterday), method: :get, role: "button", class: "slim" %>
  <%= link_to "today", days_path(date: Date.today), method: :get, role: "button", class: "slim" %>
  <%= link_to "tomorrow", days_path(date: Date.tomorrow), method: :get, role: "button", class: "slim" %>
</div>
