<!-- TODO: unused now ?! then remove !! -->

<%= render "orgs/entries/entries_nav_by_member", member: @member, members: @members, mode: @mode %>

<ul>
  <% @entries.each_with_index do |entry, index| %>
    <li class="nude">
      <%= render "orgs/entries/entry", entry: entry, entries: @entries, index: index, with_date: @with_date, with_project: @with_project, with_member: @with_member %>
    </li>
  <% end %>
</ul>
