<div class="spacing-grid" style="margin-bottom: 0.5rem;">
  <div class="left">
    <h2> Entries of <%= @member.name %> </h2>
  </div>
  <div class="center">
    <%- # = link_to "add or edit", "/entries?date=#{@day.date.iso8601}", method: :get, role: "button", class: "slim" %>
  </div>
  <div class="right">
    <% member_index = @members.find_index { |k, _v| k == @member.id } %>
    <% next_member_id = @members[member_index + 1] ? @members[member_index + 1][0] : @members[0][0] %>
    <% previous_member_id = @members[member_index - 1] ? @members[member_index - 1][0] : @members[-1][0] %>

    <%= link_to "⬅️", "/days?member_id=#{next_member_id}", method: :get, role: "button", class: "slim" %>
    <%= link_to "➡️", "/days?member_id=#{previous_member_id}", method: :get, role: "button", class: "slim" %>
  </div>
</div>

<ul>
  <% @entries.each_with_index do |entry, index| %>
    <li class="nude">
      <%= render "orgs/entries/entry", entry: entry, entries: @entries, index: index, with_date: true, with_member: false %>
    </li>
  <% end %>
</ul>
