header {
}

nav {
  text-align: right;
  background-color: darkgoldenrod;
  display: flex;
  justify-content: flex-end;
  margin-bottom: 1rem;
  margin-left: auto;
  padding: 0.5rem 1rem 0rem 1rem;

  h1, h2, h3, p, a {
    color: cornsilk;
  }

  h1 {
    margin-top: 0.25rem;
  }

  h2 {
    margin-top: 0.5rem;
  }

  .nav-grid {
    display: grid;
    grid-template-columns: minmax(2rem, 20%) minmax(4rem, 35%) minmax(4rem, 30%) minmax(1.6rem, 15%);
    gap: 1rem;
    width: 100%
  }

  .dark-contrast {
    color: var(--pico-color)
  }

  .links {
    color: gold;
  }

  .smaller {
    font-size: smaller;
    margin-top: 0.15rem;
  }
}

main {
  padding: 0rem 1rem;
  margin-bottom: 2rem;
}

footer {
  text-align: center;
}

article {
  padding: 0.5rem 0.5rem 0.1rem 0.5rem;
  background-color: burlywood; /* why does this not work? */
}

section {
  padding: 0.5rem 0.5rem 0.1rem 0.5rem;
  background-color: bisque;
}

a[role=link] {
  white-space: nowrap;
}

.camouflage {
  /* color: inherit; */
  text-decoration: inherit;
  cursor: inherit;
}

img {
  border-radius: 0.5rem;
}

ul {
  .nude {
    list-style-type: none;
    margin-left: -1.75rem;
  }

  li.tight {
    margin-bottom: -1rem;
  }
}

.full-width {
  width: 100%;
}

.left {
  text-align: left;
}

.right {
  text-align: right;
}

.center {
  text-align: center;
}

.bottom-spacer {
  margin-bottom: 10%;
}

.hgap {
  margin-right: 10%;
}

.vgap {
  margin-top: 10%;
}

.left-aligned-grid {
  display: grid;
  grid-template-columns: minmax(6rem, 15%) minmax(10rem, 55%) minmax(9rem, 30%);
  gap: 0.5rem;
  width: 100%
}

.spacing-grid {
  display: grid;
  grid-template-columns: minmax(8rem, 25%) minmax(1rem, 50%) minmax(6rem, 25%);
  gap: 1rem;
  width: 100%
}

/* TODO: style input type="date" date-picker button */
.slimmer {
  margin-bottom: 0;
  margin-top: 0.25rem;
  line-height: 80% !important;
}
