<h1> What have you done today? </h1>

<article>
  <h2>Show me the money </h2>
  <p>And fill out the stuff</p>
  <p>And fill out the stuff</p>
  <p>And fill out the stuff</p>
  <p>And fill out the stuff</p>
</article>

<article>
  <h2>Show me the money </h2>
  <section>
      <p>And fill out the stuff</p>
      <p>And fill out the stuff</p>
      <p>And fill out the stuff</p>
      <p>And fill out the stuff</p>
  </section>
  <section>And fill out the stuff</section>
  <section>And fill out the stuff</section>
</article>
