<nav>
  <div class="grid full-width">
    <div class="left">
      <h1>Done today</h1>
    </div>
    <div>
    </div>
    <div class="right">
      <% if Current.user %>
        <%= button_to "Logout", session_path, { method: :delete, role: "button" } %>
      <% end %>
    </div>
  </div>
</nav>
