<nav>
  <div class="nav-grid">

    <div class="left">
      <h2>Done today</h2>
    </div>

    <div class="center zup">
      <% if current_user && current_project %>
        <%= render partial: "orgs/days/select" %>
      <% end %>
    </div>

    <div class="left">
      <% if current_user && current_user.memberships.any? %>
        <%= render partial: "shared_partials/org_switcher" %>
      <% end %>
    </div>

    <div class="right zup">
      <% if current_user %>
        <%= link_to "⚙", settings_path, method: :get, role: "button", class: "slim" %>
      <% end %>
    </div>

  </div>
</nav>
