<nav>
  <div class="nav-grid">
    <div class="left">
      <h1>Done today</h1>
    </div>

    <div class="center">
      <% if current_user %>
        <%= render partial: "orgs/days/select" %>
      <% end %>
    </div>

    <div class="right">
      <% if current_user %>
        <%= button_to "⚙", settings_path, { method: :get, role: "button" } %>
        <%= button_to "Logout", session_path, { method: :delete, role: "button" } %>
      <% end %>
    </div>
  </div>
</nav>
