<!DOCTYPE html>
<html>

  <%= render partial: "layouts/head" %>

  <body>

    <%= render partial: "layouts/header" %>

    <main>
      <%= yield %>
    </main>

    <%= render partial: "layouts/footer" %>

  </body>
</html>
